# AWS Configuration
AWS_REGION=ap-southeast-1
AWS_PROFILE=default

# Bedrock Configuration
BEDROCK_MODEL=us.amazon.nova-micro-v1:0
MAX_TOKENS=2000
TEMPERATURE=0.3

# Streamlit Configuration
STREAMLIT_SERVER_PORT=8501
STREAMLIT_SERVER_ADDRESS=0.0.0.0
